-# 仮置き　ログイン方法　ロボット確認付き


.exhibitcontent
  .exhibitcontent__header
    = render "products/show_header"
  .log__main
    .log__main__container
      .log__main__container__no
        %p アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", index_path, class:"log__main__container__no__btn"
      .log__main__container__sns
        = link_to user_facebook_omniauth_authorize_path, class: 'log__main__container__sns__facebook' do
          = icon 'fab', 'facebook-square', class:"log__main__container__sns__facebook__icon"
          Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, class: 'log__main__container__sns__google' do
          = icon 'fab', 'google', class:"log__main__container__sns__google__icon"
          Googleでログイン
      .log__main__container__form
        .log__main__container__form__inner
          .log__main__container__form__inner__blank
            %input.log__main__container__form__inner__blank__input{placeholder:"メールアドレス"}
          .log__main__container__form__inner__blank
            %input.log__main__container__form__inner__blank__input{placeholder:"パスワード"}
          .log__main__container__form__inner__robot
            .log__main__container__form__inner__robot__inside
              =image_tag("https://i.gyazo.com/f5f78f5492629b66f2618a42def37030.png")
          %button.log__main__container__form__inner__red
            ログイン
          = link_to "パスワードをお忘れの方",root_path,class:"log__main__container__form__inner__pass"


  .exhibitcontent_down
    = render 'products/show_footer'
