.mheader
  .mheader__main
    .mheader__main__upper
      .mheader__main__upper__logo
        .mheader__main__upper__logo__image
          = link_to image_tag("fmarket_logo_red.svg",size:"134x36"), root_path
      = form_with(url: search_products_path, local: true,method: :get, class: "mheader__main__upper__search") do |f|
        = f.text_field :keyword, placeholder: " 何かお探しですか？", class: "mheader__main__upper__search__blank"
        %button.mheader__main__upper__search__button
          %i.fas.fa-search
    .mheader__main__bottom
      .mheader__main__bottom__left
        .mheader__main__bottom__left__category
          = link_to root_path, class:"mheader__main__bottom__left__category__inside" do
            %i.fas.fa-list
              .icon-text__left カテゴリーから探す
        %ul.mheader__main__bottom__left__category__submenu
          %li
            = link_to "レディース","/products/category_search/1", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__ladies
              %li
                = link_to "トップス", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__tops
                  %li
                    = link_to "Tシャツ/カットソー(半袖/袖なし)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "Tシャツ/カットソー(七部/長袖)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "シャツ/ブラウス(半袖/袖なし)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "シャツ/ブラウス(七部/長袖)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "ポロシャツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "キャミソール", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"
                  %li
                    = link_to "タンクトップ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child" 
                  %li
                    = link_to "ホルターネック", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"                   
                  %li
                    = link_to "ニット/セーター", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"                
                  %li
                    = link_to "チュニック", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"                 
                  %li
                    = link_to "カーディガン/ボレロ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"                                   
                  %li
                    = link_to "アンサンブル", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"         
                  %li
                    = link_to "ベスト/ジレ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child" 
                  %li
                    = link_to "パーカー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__tops__child"     
              %li
                = link_to "ジャケット/アウター", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__jacket
                  %li
                    = link_to "テーラードジャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ノーカラージャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "Gジャン/デニムジャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "レザージャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ダウンジャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ライダースジャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ミリタリージャケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ダウンベスト", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"    
                  %li
                    = link_to "ジャンパー/ブルゾン", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ポンチョ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ロングコート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "トレンチコート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ダッフルコート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
                  %li
                    = link_to "ピーコート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__jacket__child"
              %li
                = link_to "パンツ",root_path,class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__pants
                  %li
                    = link_to "デニム/ジーンズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "ショートパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "カジュアルパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "ハーフパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "チノパン", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "ワークパンツ/カーゴパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "クロップドパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "サロペット/オーバーオール", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li 
                    = link_to "オールインワン", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "サルエルパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "ガウチョパンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__pants__child"
              %li
                = link_to "スカート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__skart
                  %li
                    = link_to "ミニスカート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"
                  %li
                    = link_to "膝丈スカート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"                    
                  %li
                    = link_to "ロングスカート", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"                   
                  %li
                    = link_to "キュロット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"                   
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__skart__child"
              %li
                = link_to "ワンピース", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece
                  %li
                    = link_to "ミニワンピース", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"
                  %li
                    = link_to "膝丈ワンピース", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"         
                  %li
                    = link_to "ロングワンピース", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"                
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__onepiece__child"                    
              %li
                = link_to "靴", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__shoes
                  %li
                    = link_to "ハイヒール/パンプス", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "ブーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "サンダル", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "スニーカー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "ミュール", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "モカシン", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "ローファー/革靴", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "フラットシューズ/バレエシューズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "長靴/レインシューズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__shoes__child"
              %li
                = link_to "ルームウェア/パジャマ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__room
                  %li
                    = link_to "パジャマ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__room__child"
                  %li
                    = link_to "ルームウェア", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__room__child"                  
              %li
                = link_to "レッグウェア", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__leg
                  %li
                    = link_to "ソックス", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"
                  %li
                    = link_to "スパッツ/レギンス", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"
                  %li
                    = link_to "ストッキング/タイツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"
                  %li
                    = link_to "レッグウォーマー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__leg__child"
              %li
                = link_to "帽子", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__cap
                  %li
                    = link_to "ニットキャップ/ビーニー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child" 
                  %li
                    = link_to "ハット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"
                  %li
                    = link_to "ハンチング/ベレー帽", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"
                  %li
                    = link_to "キャップ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"
                  %li
                    = link_to "キャスケット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"
                  %li
                    = link_to "麦わら帽子", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__cap__child"                  
              %li                
                = link_to "バッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__bag
                  %li
                    = link_to "ハンドバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "トートバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "エコバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "リュック/バックパック", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "ボストンバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "スポーツバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "ショルダーバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "クラッチバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "ポーチ/バニティ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "ボディバッグ/ウェストバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "マザーズバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "メッセンジャーバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "ビジネスバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"
                  %li
                    = link_to "旅行用バッグ/キャリーバッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__bag__child"                  
              %li
                = link_to "アクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__accessory
                  %li
                    = link_to "ネックレス", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "ブレスレット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "バングル/リストバンド", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "リング", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "ピアス(片耳用)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "ピアス(両耳用)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "イヤリング", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "アンクレット", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "ブローチ/コサージュ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "チャーム", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__accessory__child"                  
              %li
                = link_to "ヘアアクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__hair
                  %li
                    = link_to "ヘアゴム/シュシュ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"
                  %li
                    = link_to "ヘアバンド/カチューシャ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"
                  %li
                    = link_to "ヘアピン", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__hair__child"
              %li
                = link_to "小物", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__goods
                  %li
                    = link_to "長財布", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "折り財布", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "コインケース/小銭入れ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "名刺入れ/定期入れ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "キーケース", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "キーホルダー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "手袋/アームカバー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "ハンカチ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "ベルト", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "マフラー/ショール", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "ストール/スヌード", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "バンダナ/スカーフ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "ネックウォーマー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
                  %li
                    = link_to "サスペンダー", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__goods__child"
              %li
                = link_to "時計", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child"
                %ul.mheader__main__bottom__left__category__submenu__child__ladies__child__watch
                  %li
                    = link_to "腕時計(アナログ)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
                  %li
                    = link_to "腕時計(デジタル)", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
                  %li
                    = link_to "ラバーベルト", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
                  %li
                    = link_to "レザーベルト", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
                  %li
                    = link_to "金属ベルト", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
                  %li
                    = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ladies__child__watch__child"
          %li
            = link_to "メンズ", "/products/category_search/2", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__mens
              %li
                = link_to "トップス", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "ジャケット/アウター", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "パンツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "靴", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "バッグ", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "スーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "帽子", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "アクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "小物", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "時計", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "水着", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "レッグウェア", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "アンダーウェア", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__mens__child"            
          %li
            = link_to "ベビー•キッズ", "/products/category_search/3", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__baby
              %li
                = link_to "ベビー服(女の子用)~95cm", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "ベビー服(男の子用)~95cm", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "ベビー服(男女兼用)~95cm", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "キッズ服(女の子用)100cm~", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "キッズ服(男の子用)100cm~", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "キッズ服(男女兼用)100cm~", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "キッズ靴", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "子ども用ファッション小物", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "おむつ/トイレ/バス", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "外出/移動用品", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "授乳/食事", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "ベビー家具/寝具/室内用品", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "おもちゃ", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"
              %li
                = link_to "行事／記念品", root_path, class:"mheader__main__bottom__left__category__submenu__child__baby__child"              
          %li
            = link_to "インテリア•住まい•小物", "/products/category_search/4", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__interia
              %li
                = link_to "キッチン/食器", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "ベッド/マットレス", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "ソファ/ソファベッド", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "椅子/チェア", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "机/テーブル", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "収納家具", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "ラグ/カーペット/マット", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "カーテン/ブラインド", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "ライト/照明", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "寝具", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "インテリア小物", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "季節/年中行事", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__interia__child" 
          %li
            = link_to "本•音楽•ゲーム", "/products/category_search/5", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__book
              %li
                = link_to "本", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "漫画", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "雑誌", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "CD", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "DVD/ブルーレイ", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "レコード", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
              %li
                = link_to "テレビゲーム", root_path, class:"mheader__main__bottom__left__category__submenu__child__book__child"
          %li
            = link_to "おもちゃ•ホビー•グッズ", "/products/category_search/6", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__toy
              %li
                = link_to "おもちゃ", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li                
                = link_to "タレントグッズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "コミック/アニメグッズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "トレーディングカード", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "フィギュア", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "楽器/器材", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "コレクション", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "ミリタリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "美術品", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "アート用品", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__toy__child"
          %li
            = link_to "コスメ•香水•美容", "/products/category_search/7", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__cos
              %li
                = link_to "ベースメイク", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "メイクアップ", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "ネイルケア", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "香水", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "スキンケア/基礎化粧品", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "ヘアケア", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "ボディケア", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "オーラルケア", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "リラクゼーション", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "ダイエット", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__cos__child"
          %li
            = link_to "家電•スマホ•カメラ", "/products/category_search/8", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__appliance
              %li
                = link_to "スマートフォン/携帯電話", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "スマホアクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "PC/タブレット", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "カメラ", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "テレビ/映像機器", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "オーディオ機器", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "美容/健康", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "冷暖房/空調", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "生活家電", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__appliance__child"
          %li
            = link_to "スポーツ•レジャー", "/products/category_search/9", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__sports
              %li
                = link_to "ゴルフ", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "フィッシング", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "自転車", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "トレーニング/エクササイズ", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "野球", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "サッカー/フットサル", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "テニス", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "スノーボード", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "スキー", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "その他スポーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "アウトドア", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__sports__child"
          %li
            = link_to "ハンドメイド", "/products/category_search/10", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__handmade
              %li
                = link_to "アクセサリー(女性用)", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "ファッション小物", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "アクセサリー/時計", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "日用品/インテリア", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "趣味/おもちゃ", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "キッズ/ベビー", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "素材/材料", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "二次創作物", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__handmade__child"              
          %li
            = link_to "チケット", "/products/category_search/11", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__ticket
              %li
                = link_to "音楽", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "スポーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "演劇/芸能", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "イベント", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "映画", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "施設利用券", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "優待券/割引券", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__ticket__child"            
          %li
            = link_to "自転車•オートバイ", "/products/category_search/12", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__bike
              %li
                = link_to "自転車本体", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "自転車タイヤ/ホイール", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "自転車パーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "自転車アクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "オートバイ車体", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "オートバイパーツ", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
              %li
                = link_to "オートバイアクセサリー", root_path, class:"mheader__main__bottom__left__category__submenu__child__bike__child"
          %li
            = link_to "その他", "/products/category_search/13", class:"mheader__main__bottom__left__category__submenu__child"
            %ul.mheader__main__bottom__left__category__submenu__child__other
              %li
                = link_to "まとめ売り", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "ペット売り", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "食品", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "飲料/酒", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "日用品/生活雑貨/旅行", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "アンティーク/コレクション", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "文房具/事務用品", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "事務/店舗用品", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
              %li
                = link_to "その他", root_path, class:"mheader__main__bottom__left__category__submenu__child__other__child"
          %li
            = link_to "カテゴリ一覧", "/products/category_search/14", class:"mheader__main__bottom__left__category__submenu__child"
        .mheader__main__bottom__left__bland
          = link_to root_path, class:"mheader__main__bottom__left__bland__inside" do
            %i.fas.fa-tags
              .icon-text__left ブランドから探す
        %ul.mheader__main__bottom__left__bland__submenu
          %li
            = link_to "シャネル", root_path, class:"mheader__main__bottom__left__bland__submenu__child"
          %li
            = link_to "ナイキ", root_path, class:"mheader__main__bottom__left__bland__submenu__child"
          %li
            = link_to "ルイヴィトン", root_path, class:"mheader__main__bottom__left__bland__submenu__child"
          %li
            = link_to "シュプリーム", root_path, class:"mheader__main__bottom__left__bland__submenu__child"
          %li
            = link_to "アディダス", root_path, class:"mheader__main__bottom__left__bland__submenu__child"
          %li
            = link_to "ブランド一覧", root_path, class:"mheader__main__bottom__left__bland__submenu__child"

      .mheader__main__bottom__right
        .mheader__main__bottom__right__list1
          = link_to root_path, class:"mheader__main__bottom__right__list1__good" do
            %i.far.fa-heart
              .icon-text__right いいね！一覧
        .mheader__main__bottom__right__list2
          = link_to root_path, class:"mheader__main__bottom__right__list2__notice" do
            %i.far.fa-bell
              .icon-text__right お知らせ
        .mheader__main__bottom__right__list3
          = link_to root_path, class:"mheader__main__bottom__right__list3__todo" do
            %i.fas.fa-check
              .icon-text__right やることリスト
        .mheader__main__bottom__right__list4
          = link_to user_page_products_path, class:"mheader__main__bottom__right__list4__person" do
            %i.far.fa-grin-stars
              .icon-text__right マイページ
        %ul.mheader__main__bottom__right__list4__submenu
          %li
            .mheader__main__bottom__right__list4__submenu__top
              = image_tag "mypage-background.jpg", class: "mheader__main__bottom__right__list4__submenu__top__user"
              = image_tag"member_photo_noimage_thumb.jpg", class: "mheader__main__bottom__right__list4__submenu__top__figure"
              .mheader__main__bottom__right__list4__submenu__top__name
                = current_user.nickname
              .mheader__main__bottom__right__list4__submenu__top__numbers
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__top__numbers__number1" do
                  評価:
                  .mheader__main__bottom__right__list4__submenu__top__user__icon__numbers__number1__count
                    0
                = link_to p_exhibiting_products_path, class: "mheader__main__bottom__right__list4__submenu__top__numbers__number2" do
                  出品数:
                  .mheader__main__bottom__right__list4__submenu__top__numbers__number2__count
                    0
          %li
            %ul.mheader__main__bottom__right__list4__submenu__middle
              %li
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__middle__money" do
                  .mheader__main__bottom__right__list4__submenu__middle__money__text
                    売上金
                  .mheader__main__bottom__right__list4__submenu__middle__money__number
                    ¥0
                    = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__middle__money__number__icon")
              %li
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__middle__point" do
                  .mheader__main__bottom__right__list4__submenu__middle__money__text
                    ポイント
                  .mheader__main__bottom__right__list4__submenu__middle__money__number
                    P0
                    = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__middle__money__number__icon")
          %li
            %ul.mheader__main__bottom__right__list4__submenu__bottom
              %li
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  いいね！一覧
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")
              %li
                = link_to p_exhibiting_products_path, class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  出品した商品 - 出品中
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")
              %li
                = link_to p_transaction_products_path, class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  出品した商品 - 取引中
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")
              %li
                = link_to p_soldout_products_path, class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  出品した商品 - 売却済み
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")
              %li
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  購入した商品 - 取引中
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")
              %li
                = link_to "", class: "mheader__main__bottom__right__list4__submenu__bottom__list" do
                  購入した商品 - 過去の取引
                  = icon('fas', 'angle-right', class: "mheader__main__bottom__right__list4__submenu__bottom__list__icon")