-# ユーザマイページの固定の部分  ヘッダーの部分

.u-main
  .u-header
    = link_to "", class: "u-header__list" do
      フリマ 
    = icon('fas', 'angle-right', class:"u-header__list-icon")
    = link_to "", class: "u-header__list" do
      マイページ 
    = icon('fas', 'angle-right', class:"u-header__list-icon")
    = link_to "", class: "u-header__list" do
      ポイント
    = icon('fas', 'angle-right', class:"u-header__list-icon")
    = link_to "", class: "u-header__list" do
      ポイントの有効期限




