-# ユーザマイページの固定の部分  左サイドバーの部分

.side
  .mypage-ul
    = link_to "", class: "mypage-ul__list" do
      マイページ 
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      お知らせ
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      やることリスト
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      いいね！一覧
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      出品する
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to p_exhibiting_products_path, class: "mypage-ul__list" do
      出品した商品 - 出品中
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to p_soldout_products_path, class: "mypage-ul__list" do
      出品した商品 - 売却済み
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to p_transaction_products_path, class: "mypage-ul__list" do
      購入した商品 - 取引中　
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      購入した商品 - 過去の取引
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      ニュース一覧
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      評価一覧
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      ガイド
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      お問い合わせ
      = icon('fas', 'angle-right', class: 'mypage-ul__list__icon')
  .merupay-heading
    フリペイ
  .merupay-ul
    = link_to "", class: "merupay-ul__list" do
      売上・振込申請
      = icon('fas', 'angle-right', class: 'merupay-ul__list__icon')
    = link_to "", class: "mypage-ul__list" do
      ポイント
      = icon('fas', 'angle-right', class: 'merupay-ul__list__icon')
  .setting-heading
    設定
  .setting-ul
    = link_to "", class: "setting-ul__list" do
      プロフィール
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "", class: "setting-ul__list" do
      発送元・お届け先住所変更
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "", class: "setting-ul__list" do
      支払い方法
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "", class: "setting-ul__list" do
      メール/パスワード
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "", class: "setting-ul__list" do
      本人情報
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "", class: "setting-ul__list" do
      電話番号の確認
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')
    = link_to "/products/user_logout", class: "setting-ul__list" do
      ログアウト
      = icon('fas', 'angle-right', class: 'setting-ul__list__icon')