.guide_header
  .guide_header__upper
    = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1215422380',size:"135x39",class:"guide_header__upper--left"), '#'
    = link_to image_tag('https://static.mercdn.net/images/member_photo_noimage_thumb.png',size:"32x32",class:"guide_header__upper--right"), '#'
  .guide_header__bottom
    .guide_header__bottom--title
      Fmarketガイド

.guide
  .guide_top
    .guide_top__logo
      = link_to image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1215422380',size:"135x39",class:"guide_header__upper--left"), '#'
      .guide_top__logo--title
        Fmarketガイド
  
  .guide_main
    .guide_main__left
      .guide_main__left__first
        .guide_main__left__first--top
          初めてガイド
        .guide_main__left__first__1
          .guide_main__left__first__1--name
            初めての方へ
          .guide_main__left__first__1--logo
            = icon 'fas', 'angle-down'
        .guide_main__left__first__2
          .guide_main__left__first__2--name
            ルールとマナー
          .guide_main__left__first__2--logo
            = icon 'fas', 'angle-down'
        .guide_main__left__first__3
          .guide_main__left__first__3--name
            Fmarket便とは
          .guide_main__left__first__3--logo
            = icon 'fas', 'angle-down'

      .guide_main__left__second
        .guide_main__left__second--top
          よくある質問
        .guide_main__left__second__1
          = link_to "メルカリ出品までの流れ・売り方", '#',class:"guide_main__left__second__1--name"
          .guide_main__left__second__1--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__2
          = link_to "電話番号認証ができない", '#',class:"guide_main__left__second__2--name"
          .guide_main__left__second__2--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__3
          = link_to "ログインができない", '#',class:"guide_main__left__second__3--name"
          .guide_main__left__second__3--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__4
          = link_to "配送遅延について(メルカリ便)", '#',class:"guide_main__left__second__4--name"
          .guide_main__left__second__4--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__5
          = link_to "取引開始後のよくあるトラブルの解決策", '#',class:"guide_main__left__second__5--name"
          .guide_main__left__second__5--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__6
          = link_to "商品が売れた後の流れ", '#',class:"guide_main__left__second__6--name"
          .guide_main__left__second__6--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__7
          = link_to "商品/カテゴリー別の出品方法について", '#',class:"guide_main__left__second__7--name"
          .guide_main__left__second__7--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__8
          = link_to "振込スケジュール", '#',class:"guide_main__left__second__8--name"
          .guide_main__left__second__8--logo
            = icon 'fas', 'angle-right'
        .guide_main__left__second__9
          = link_to "機種変更をする際の注意", '#',class:"guide_main__left__second__9--name"
          .guide_main__left__second__9--logo
            = icon 'fas', 'angle-right'
        
      .guide_main__left__third
        .guide_main__left__third--top
          カテゴリーから探す
        = link_to "購入について", '#',class:"guide_main__left__third--1"
        = link_to "出品について", '#',class:"guide_main__left__third--2"
        = link_to "Fmarket便について", '#',class:"guide_main__left__third--3"
        = link_to "登録ログイン・通知などの機能について", '#',class:"guide_main__left__third--4"
        = link_to "キャンセル・返金について", '#',class:"guide_main__left__third--5"
        = link_to "Fmarketペイについて", '#',class:"guide_main__left__third--6"
        = link_to "自動車本体の取引について", '#',class:"guide_main__left__third--7"
        = link_to "Fmarket教室について", '#',class:"guide_main__left__third--8"
      
      .guide_main__left__fourth
        .guide_main__left__fourth--top
          公式Q&AFmarketボックス
        = link_to "解決策を検索または質問する", '#',class:"guide_main__left__fourth--1"
      
      .guide_main__left__fifth
        .guide_main__left__fifth--top
          利用規約など
        = link_to "利用規約", '#',class:"guide_main__left__fifth--1"
        .guide_main__left__second__9--logo
          = icon 'fas', 'angle-right'
        = link_to "商標について", '#',class:"guide_main__left__fifth--2"