.header
  - if user_signed_in?
    = render "header"
    = render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し
  - else
    = render "new_header"
    = render 'new_camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し
.amain
  .imain
    .imain__main
      .imain__main__link
        = link_to ""
        .imain__main__link__image#icon
          %ul.imain__main__link__image__ulist
            %li
              = image_tag "6cbf10cdf0a7a15ce0c0615f66a499bb_m.jpg",class: "imain__main__link__image__ulist__gazo",id: "gazo1"
            %li
              = image_tag "0782e7874d8a44fff2875158ba68839e_m.jpg",class: "imain__main__link__image__ulist__gazo",id: "gazo1"
              .imain__main__link__image__ulist__text
                .imain__main__link__image__ulist__text__1
                  スマホで簡単
                  %br
                  フリマアプリ
                .imain__main__link__image__ulist__text__2
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .imain__main__link__image__ulist__text__app
                  =link_to "#" do
                    =image_tag"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size: "170x50",class:"imain__main__link__image__ulist__text__app__appstore"
                  =link_to "#"do
                    =image_tag"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size: "170x50",class:"imain__main__link__image__ulist__text__app__googlestore"
          .imain__main__link__image__left 
            .imain__main__link__image__left__a{id: "btn1"}
          .imain__main__link__image__right
            .imain__main__link__image__right__a{id: "btn2"}
          .imain__main__link__image__bottom 

    .imain__main__content
      .imain__main__content__text 人気のカテゴリー
      .imain__main__content__menu
        %ul.imain__main__content__menu__list
          %li.imain__main__content__menu__list__category
            .imain__main__content__menu__list__category__a#scroll_btn1
              レディース
            .imain__main__content__menu__list__category__a#scroll_btn2
              メンズ
            .imain__main__content__menu__list__category__a#scroll_btn3
              家電・スマホ・カメラ
            .imain__main__content__menu__list__category__a#scroll_btn4
              おもちゃ・ホビー・グッズ
    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text レディース新着アイテム
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_l
              - @products_l.each do |product|
                =render "index", product: product

    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text メンズ
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_m
              - @products_m.each do |product|
                =render "index", product: product

    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text 家電・スマホ・カメラ
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_d
              - @products_d.each do |product|
                =render "index", product: product
 
    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text おもちゃ・ホビー・グッズ
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_h
              - @products_h.each do |product|
                =render "index", product: product
    .imain__main__content
      .imain__main__content__text 人気のブランド
      .imain__main__content__menu
        %ul.imain__main__content__menu__list
          %li.imain__main__content__menu__list__category
            .imain__main__content__menu__list__category__a#scroll_btn5
              シャネル
            .imain__main__content__menu__list__category__a#scroll_btn6
              ルイヴィトン
            .imain__main__content__menu__list__category__a#scroll_btn7
              シュプリーム
            .imain__main__content__menu__list__category__a#scroll_btn8
              ナイキ
    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text ベビー・キッズ
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_k
              - @products_k.each do |product|
                =render "index", product: product

    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text スポーツ・レジャー
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_s
              - @products_s.each do |product|
                =render "index", product: product
    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text 本・音楽・ゲーム
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link" 
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_b
              - @products_b.each do |product|
                =render "index", product: product

    .imain__main__product
      .imain__main__product__box
        .imain__main__product__box__menu
          .imain__main__product__box__menu__text コスメ・香水・美容
          =link_to "もっと見る ＞", "#", class: "imain__main__product__box__menu__link"
        .imain__main__product__box__item
          %ul.imain__main__product__box__item__list
            -if @products_c
              - @products_c.each do |product|
                =render "index", product: product
.banner
  = render "banner"
.footer
  = render "footer"