-# 売上・振込申請の振込申請履歴一覧のページです

.merupay1
  .merupay1__title
    振込申請履歴一覧
  .merupay1__bottom
    = image_tag "logo_gray.svg", class: "merupay1__bottom--img", size: "100x100"
    .merupay1__bottom--text
      振込申請履歴はありません
  .foot
    = link_to "", class: "foot__left" do
      = icon('fas', 'angle-left', class: 'foot__left----text')
    = link_to "", class: "foot__right" do
      = icon('fas', 'angle-right', class: 'foot__right--icon')