-# 出品ページの出品中
= render 'header'  # 全体のヘッダーの部分テンプレートの呼び出し
.u-main
  - breadcrumb :p_exhibiting
  = render "layouts/breadcrumbs"
  .u-container
    .container-center
      = render 'user_sidebar'  # ユーザマイページのヘッダーの部分テンプレートの呼び出し
      .u-products
        .main
          .main__top
            出品した商品
          .main__center
            = link_to "", class: "main__center--left" do
              出品中
            = link_to "", class: "main__center--center" do
              取引中
            = link_to "", class: "main__center--right" do
              売却済み
          -if @products
            - @products.each do |product|
              .item_content
                .item_content__image
                  -# = image_tag product.product_images[0].image.to_s,size:"100×100"
                .item_content__right
                  .item_content__right--name
                    =product.name
                  .item_content__right__good
                    .item_content__right__good--goods
                      = icon("far","heart")
                      0
                    .item_content__right__good--comment
                      = icon("far","comment-alt")
                      0
                    .item_content__right__good--exhibition
                      出品中
          - else
            .main__bottom
              = image_tag "logo_gray.svg", class: "main__bottom--img", size: "100x100"
              .main__bottom--text
                出品中の商品がありません
        .foot
          = link_to "", class: "foot__left" do
            = icon('fas', 'angle-left', class: 'foot__left----text')
          = link_to "", class: "foot__right" do
            = icon('fas', 'angle-right', class: 'foot__right--icon')

= render 'banner'  # 全体のバナーの部分テンプレートの呼び出し

= render 'footer'  # 全体のフッターの部分テンプレートの呼び出し

= render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し