= render "header"
= render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し

.s-main
  .s-contents
    .s-sidebar  
      .s-sidebar__change
        %select{name: :sort_order, class: 's-sidebar__change__order'}
          %option{value: "location.pathname", name: "location.pathname"}
            並び替え
          %option{value: "price_asc"}
            価格の安い順
          %option{value: "price_desc"}
            価格の高い順
          %option{value: "created_at_desc"}
            出品の新しい順
          %option{value: ""}
            いいね!の多い順
        = icon('fas', 'angle-down', class: 's-sidebar__change__icon')
      .s-sidebar__details
        = form_with model: @product do |f|
          .s-sidebar__details__title
            詳細検索
          .s-sidebar__details__label
            = icon('fas', 'plus', class: 's-sidebar__details__label__icon1')
            キーワードを追加する
            = f.text_field :name, placeholder:"例) 値下げ", class:  's-sidebar__details__label__text'
          .s-sidebar__details__label
            = icon('fas', 'list', class: 's-sidebar__details__label__icon1')
            カテゴリーから探す
            = f.select :category, [["すべて","すべて" ],["レディース", "レディース"],["メンズ", "メンズ"],["ベビー・キッズ","ベビー・キッズ"],["インテリア・住まい・小物","インテリア・住まい・小物"],["本・音楽・ゲーム","本・音楽・ゲーム"],["おもちゃ・ホビー・グッズ","おもちゃ・ホビー・グッズ"],["コスメ・香水・美容","コスメ・香水・美容"],["家電・スマホ・カメラ","家電・スマホ・カメラ"],["スポーツ・レジャー","スポーツ・レジャー"],["ハンドメイド","ハンドメイド"],["チケット","チケット"],["自動車・オートバイ","自動車・オートバイ"],["その他","その他"]]
            = icon('fas', 'angle-down', class: 's-sidebar__details__label__icon2')
          .s-sidebar__details__label
            = icon('fas', 'tags', class: 's-sidebar__details__label__icon1')
            ブランド名から探す
            = f.text_field :name, placeholder:"例) シャネル", class:  's-sidebar__details__label__text'
          .s-sidebar__details__label
            = icon('fas', 'compress', class: 's-sidebar__details__label__icon1')
            サイズを指定する
            = f.select :category, [["すべて","すべて"],["洋服のサイズ", "洋服のサイズ"],["メンズ靴のサイズ", "メンズ靴のサイズ"],["レディース靴のサイズ","レディース靴のサイズ"],["スカートのサイズ","スカートのサイズ"],["キッズ服のサイズ","キッズ服のサイズ"],["ベビー・キッズ靴のサイズ","ベビー・キッズ靴のサイズ"],["ベビー服のサイズ","ベビー服のサイズ"],["テレビのサイズ","テレビのサイズ"],["カメラレンズのサイズ","カメラレンズのサイズ"],["オートバイのサイズ","オートバイのサイズ"],["ヘルメットのサイズ","ヘルメットのサイズ"],["タイヤのサイズ","タイヤのサイズ"],["スキーのサイズ","スキーのサイズ"],["スノーボードのサイズ","スノーボードのサイズ"]]
            = icon('fas', 'angle-down', class: 's-sidebar__details__label__icon2')
          .s-sidebar__details__label
            = icon('fas', 'coins', class: 's-sidebar__details__label__icon1')
            価格
            = f.select :price, [["選択してください","---"],["300 ~ 1000", ""],["1000 ~ 5000", ""],["5000 ~ 10000",""],["10000 ~ 30000",""],["30000 ~ 50000",""],["50000 ~ ",""]]
            = icon('fas', 'angle-down', class: 's-sidebar__details__label__icon2')
            .s-sidebar__details__label__text1
              = f.text_field :name, placeholder:"¥ Min", class:  's-sidebar__details__label__text1__min'
              〜
              = f.text_field :name, placeholder:"¥ Max", class:  's-sidebar__details__label__text1__max'
          .s-sidebar__details__label
            = icon('fas', 'star', class: 's-sidebar__details__label__icon1')
            商品の状態
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                すべて
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                新品、未使用
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                未使用に近い
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                目立った傷や汚れなし
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                やや傷や汚れあり
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                傷や汚れあり
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                全体的に状態が悪い
          .s-sidebar__details__label
            = icon('fas', 'truck', class: 's-sidebar__details__label__icon1')
            配送料の負担
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__icon__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                すべて
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                着払い(購入者負担)
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                送料込み(出品者負担)

          .s-sidebar__details__label
            = icon('fas', 'shopping-cart', class: 's-sidebar__details__label__icon1')
            販売状況
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__icon__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                すべて
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                販売中
            .s-sidebar__details__label__checkbox
              %label.s-sidebar__details__label__checkbox__label
                = f.check_box :condition, {class: "s-sidebar__details__label__checkbox__label__box"}, true, false
                売り切れ
          .s-sidebar__details__button
            .s-sidebar__details__button__clear
              クリア
            .s-sidebar__details__button__complete
              完了


    .s-content
      .result
        .result__search
          yamanaka
        .result__text
          の検索結果
      .number
        1 - 1件表示
      .products







  .s-footer
    .s-footer__body
      = link_to root_path, class: "s-footer__body__list" do
        メルカリ
      = icon('fas', 'angle-right', class: "s-footer__body__list-icon")
      検索したワード
.banner
  = render "banner"
.footer
  = render "footer"