.all_show
  .header
    = render "header"
    .u-main
      - breadcrumb :show
      = render "layouts/breadcrumbs"
  .box__container
    .item_name 
      =@product.name
    .box__container__main
      .box__container__main__photo
        .box__container__main__photo__all
          .box__container__main__photo__all__big
            = image_tag @product.product_images[0].image.to_s,size:"300x300"


          .box__container__main__photo__all__small
            .box__container__main__photo__all__small__list

              = image_tag @product.product_images[0].image.to_s,size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
          -# = image_tag "https://cdn.pixabay.com/photo/2019/12/06/19/06/gifts-4678018_1280.jpg",size:"60x60",class:"box__container__main__photo__all__small__list__image"
  
      %table.box__container__main__table
        %tbody.box__container__main__table__body
          %tr
            %th 出品者
            %td
              = link_to "#{current_user.nickname}", class:"box__container__main__table__body__data"  #出品者情報を呼ぶ
              .box__container__main__table__body__list
                .box__container__main__table__body__list__face
                  %i.far.fa-smile
                  %span 0
                .box__container__main__table__body__list__face
                  %i.far.fa-meh
                  %span 0
                .box__container__main__table__body__list__face
                  %i.far.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to root_path,class: "box__container__main__table__body__category" do
                .box__container__main__table__body__category__child 
                  %span.box__container__main__table__body__category__child__ca 
                  =@product.category
              = link_to root_path, class: "box__container__main__table__body__category" do
                %p.box__container__main__table__body__category__child
                  %i.fas.fa-chevron-right
                  %span.box__container__main__table__body__category__child__ca バッグ
              = link_to root_path, class: "box__container__main__table__body__category" do
                %p.box__container__main__table__body__category__child
                  %i.fas.fa-chevron-right 
                  %span.box__container__main__table__body__category__child__ca ショルダーバッグ 

          %tr
            %th ブランド
            %td
              = link_to "コーチ",root_path,class:"box__container__main__table__body__bland"
          %tr
            %th 商品の状態
            %td
              =@product.condition
          %tr
            %th 配送料の負担
            %td 
              =@product.charge
          %tr
            %th 配送の方法
            %td 未定
          %tr
            %th 発送元地域
            %td
              = link_to "東京都",root_path,class:"box__container__main__table__body__area"
          %tr
            %th 発送日の目安
            %td
              =@product.day

    .box__container__price
      %span.box__container__price__bold 
        ¥
        =@product.price
      %span.box__container__price__tax ＜税込＞
      %span.box__container__price__fee 送料込み
  - if user_signed_in? && @product.saler_id.present? && @product.buyer_id.nil?
    .box__container__current_user
      = link_to "商品の編集",edit_product_path,class:"box__container__current_user--edit"
      .box__container__current_user--p
        or
      = link_to "出品を一旦停止する","#",class:"box__container__current_user--stop"
      = link_to "この商品を削除する","/product/#{@product.id}",class:"box__container__current_user--delete"

  - else
    = link_to "購入画面に進む",root_path,class:"box__container__price__btn"
    .box__container__explanation
      %p.box__container__explanation__content
        説明説明説明説明
    .box__container__good
      .box__container__good__left
        = link_to root_path, class:"box__container__good__left__iine" do
          %i.far.fa-heart
          %span いいね
          %span 0
        = link_to root_path, class:"box__container__good__left__bad" do
          %i.far.fa-flag
          %span 不適切な商品の報告
      .box__container__good__right
        = link_to root_path class:"box__container__good__right__safe" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み
  .box__comment
    .box__comment__content
      .box__comment__content__main
        %form.box__comment__content__main__form
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いは利用制限や退会になることがあります
          %textarea.box__comment__content__main__form__text
          = link_to "コメントする",root_path, class:"box__comment__content__main__form__btn" 
  %ul.list__scroll
    %li.list__scroll__prev
      = link_to root_path, class:"list__scroll__prev__left" do
        =icon("fas","chevron-left") 
        前
    %li.list__scroll__next
      = link_to root_path, class:"list__scroll__next__right" do
        後ろ
        =icon("fas","chevron-right")
  .social__media
    .social__media__text
    %ul.social__media__box
      %li
        = link_to root_path, class:"social__media__box__facebook" do
          %i.fab.fa-facebook-square
      %li
        = link_to root_path, class:"social__media__box__twitter" do
          %i.fab.fa-twitter-square
      %li
        = link_to root_path, class:"social__media__box__pinterest" do
          %i.fab.fa-pinterest-square
  .item__profile
    %section.item__profile__user
      %h2.item__profile__user__name
        = link_to "@user.nameのその他の商品",root_path,class:"item__profile__user__name__link"
      .item__profile__user__list
        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0
        
        %section.item__profile__user__list__box__last
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0
        
        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box__last
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

    %section.item__profile__bland
      %h2.item__profile__bland__name
        = link_to "@blandのその他の商品",root_path, class:"item__profile__bland__name__link"
      .item__profile__user__list
        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box__last
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0
          
        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

        %section.item__profile__user__list__box
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0
        
        %section.item__profile__user__list__box__last
          = link_to root_path, class:"item__profile__user__list__box__link" do
            .item__profile__user__list__box__link__picture
              = image_tag "https://images.unsplash.com/photo-1577046848400-481714c13218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",size:"220x220",class:"item__profile__user__list__box__link__picture__inside"
            .item__profile__user__list__box__link__body
              %h3.item__profile__user__list__box__link__body__name
                products name
              .item__profile__user__list__box__link__body__price
                .item__profile__user__list__box__link__body__price__left
                  ¥3,800
                .item__profile__user__list__box__link__body__price__right
                  %i.far.fa-heart
                  %span 0

  .nav__bar
    %ul
      %li
        = link_to root_path, class:"nav__bar__list" do
          %span メルカリ
        %i.fas.fa-chevron-right
      %li
        %span productname

  .banner
    = render "banner"
  .footer
    = render "footer"