.exhibitcontent
  = render "show_header"

  = form_with model: @product,class:"exhibitcontent_main", local: true do |f|
    .exhibitcontent_main__title
      商品の情報を入力
    .exhibitcontent_main__first
      .exhibitcontent_main__first__head
        .exhibitcontent_main__first__head--img
          出品画像
        .exhibitcontent_main__first__head--required
          必須
      .exhibitcontent_main__first--description
        最大10枚までアップロードできます。
      #image-box
        .item-num-0#image-box__container
          = f.fields_for :product_images do |i|
            .exhibitcontent_main__first--image
              = i.file_field :image, type: 'file', name: "product[product_images_attributes][][image]", value:"", style: "display:none", id:"img-file"
              %label{for: "img-file"}
                %pre
                  ドロッグアンドドロップ
                  またはクリックしてファイルをアップロード

    .exhibitcontent_main__second
      .exhibitcontent_main__second__top
        .exhibitcontent_main__second__top--pr_name
          商品名
        .exhibitcontent_main__second__top--required2
          必須
      .exhibitcontent_main__second--string
        = f.text_field :name,placeholder:"商品名  (必須40文字まで)",class:"exhibitcontent_main__second--string--set"
      .exhibitcontent_main__second__middle
        .exhibitcontent_main__second__middle__top
          .exhibitcontent_main__second__middle__top--description2
            商品名の説明
          .exhibitcontent_main__second__middle__top--required3
            必須
        .exhibitcontent_main__second__middle--text
          = f.text_area :description,placeholder:"商品の説明(必須1,000文字以内)(色、素材、重さ、定価、注意点など)例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。",class:"exhibitcontent_main__second__middle--text--set2"

    .exhibitcontent_main__third
      .exhibitcontent_main__third--left
        商品の詳細
      .exhibitcontent_main__third__right
        .exhibitcontent_main__third__right__top
          .exhibitcontent_main__third__right__top--cate
            カテゴリー
          .exhibitcontent_main__third__right__top--required4
            必須
        = f.select :category, [["---","---" ],["レディース", "レディース"],["メンズ", "メンズ"],["ベビー・キッズ","ベビー・キッズ"],["インテリア・住まい・小物","インテリア・住まい・小物"],["本・音楽・ゲーム","本・音楽・ゲーム"],["おもちゃ・ホビー・グッズ","おもちゃ・ホビー・グッズ"],["コスメ・香水・美容","コスメ・香水・美容"],["家電・スマホ・カメラ","家電・スマホ・カメラ"],["スポーツ・レジャー","スポーツ・レジャー"],["ハンドメイド","ハンドメイド"],["チケット","チケット"],["自動車・オートバイ","自動車・オートバイ"],["その他","その他"]],{},class:"exhibitcontent_main__third__right--category"
        = icon 'fa', 'chevron-down', class: "exhibitcontent_main__third__right--icon"
        .exhibitcontent_main__third__right__bottom
          .exhibitcontent_main__third__right__bottom--status 
            商品の状態
          .exhibitcontent_main__third__right__bottom--required5
            必須
        = f.select :condition, [["---", "---"],["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["汚れや傷あり","汚れや傷あり"],["全体的に状態が悪い","全体的に状態が悪い"]],{},class:"exhibitcontent_main__third__right--condition"
        = icon 'fa', 'chevron-down', class: "exhibitcontent_main__third__right--icon2"
    .exhibitcontent_main__fourth
      .exhibitcontent_main__fourth__left
        .exhibitcontent_main__fourth__left--shipping
          配達について
          = link_to "?","#",class:"exhibitcontent_main__fourth__left--q"
      .exhibitcontent_main__fourth__right
        .exhibitcontent_main__fourth__right__top
          .exhibitcontent_main__fourth__right__top--burden
            配達料の負担
          .exhibitcontent_main__fourth__right__top--required6
            必須
        = f.select :charge, [["---", "---"],["送料込み（出品者負担）", "送料込み（出品者負担）"],["着払い（購入者負担）", "着払い（購入者負担）"]],{},class:"exhibitcontent_main__third__right--condition"
        = icon 'fa', 'chevron-down', class: "exhibitcontent_main__fourth__right--icon3"
        .exhibitcontent_main__fourth__right__middle
          .exhibitcontent_main__fourth__right__middle--region
            発送元の地域
          .exhibitcontent_main__fourth__right__middle--required7
            必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{},class:"exhibitcontent_main__third__right--condition"
        = icon 'fa', 'chevron-down', class: "exhibitcontent_main__fourth__right--icon4"
        .exhibitcontent_main__fourth__right__bottom
          .exhibitcontent_main__fourth__right__bottom--days
            発送までの日数
          .exhibitcontent_main__fourth__right__bottom--required8
            必須
        = f.select :day, [["---", "---"],["１〜2日で発送", "１〜2日で発送"],["２〜3日で発送", "２〜3日で発送"],["４〜7日で発送", "４〜7日で発送"]],{},class:"exhibitcontent_main__third__right--condition"
        = icon 'fa', 'chevron-down', class: "exhibitcontent_main__fourth__right--icon5"
    
    .exhibitcontent_main__fifth
      .exhibitcontent_main__fifth__left
        .exhibitcontent_main__fifth__left--price
          販売価格(300〜9,999,999)
          = link_to "?","#",class:"exhibitcontent_main__fifth__left--q2"
      .exhibitcontent_main__fifth__right
        .exhibitcontent_main__fifth__right__top
          .exhibitcontent_main__fifth__right__top__left
            .exhibitcontent_main__fifth__right__top__left--price2
              価格
            .exhibitcontent_main__fifth__right__top__left--required9
              必須
          .exhibitcontent_main__fifth__right__top__right
            .exhibitcontent_main__fifth__right__top__right--1
              ¥
            = f.text_field :price, id: "price",placeholder: '例) 300',class:"exhibitcontent_main__fifth__right--input"
        .exhibitcontent_main__fifth__right--middle 
          販売手数料(10％)
          = f.text_field :fee, id: "fee",value:"-",readonly: true,class:"exhibitcontent_main__fifth__right--input2"
        .exhibitcontent_main__fifth__right--bottom
          販売利益
          = f.text_field :profit, id: "profit",value:"-",readonly: true,class:"exhibitcontent_main__fifth__right--input3"
    .exhibitcontent_main__sixth
      .exhibitcontent_main__sixth__important
        = link_to "禁止されている出品","#",class: 'exhibitcontent_main__sixth__important--btn'
        、
        = link_to "行為","#",class: 'exhibitcontent_main__sixth__important--btn'
        を必ずご確認ください。
        %br
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        = link_to "偽ブランドの販売","#",class: 'exhibitcontent_main__sixth__important--btn'
        は犯罪であり処罰される可能性があります。
        %br
        また、出品をもちまして
        = link_to "加盟店規約","#",class: 'exhibitcontent_main__sixth__important--btn'
        に同意したことになります。
      = f.submit '変更する', class: 'exhibitcontent_main__sixth--submit'
      = link_to "キャンセル","#",class: 'exhibitcontent_main__sixth--back'

  .exhibitcontent_down
    = render 'show_footer'