-# メルカリ>マイページ>ニュース一覧のhaml

= render 'header'  # 全体のヘッダーの部分テンプレートの呼び出し
.u-main
  - breadcrumb :user_newslist
  = render "layouts/breadcrumbs"
  .u-container
    .container-center
      = render 'user_sidebar' # ユーザマイページのヘッダーの部分テンプレートの呼び出し
      .contents
        .chapter-container
          .chapter-container__head
            ニュース一覧
        %ul.news
          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月11日21:46
            .news__list__title
              【12/11 21:45追記】 【復旧済み】メルペイのiD決済がご利用いただけない状況が発生しています

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月11日12:59
            .news__list__title
              《超！出品祭第二弾》ポイントの付与対象となるお客さまへのご連絡を完了しました
          

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          
          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          
          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
          
          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！

          %li.news__list
            .news__list__time
              .news__list__time__icon
                = icon 'far', 'clock'
              .news__list__time__data
                12月2日15:50
            .news__list__title
              【終了】《販売手数料も梱包も実質無料！》超！出品祭開催中♪大好評につき第二弾！
= render 'banner'  # 全体のバナーの部分テンプレートの呼び出し

= render 'footer'  # 全体のフッターの部分テンプレートの呼び出し

= render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し

