-# ユーザマイページの右の部分 メルカリ>マイページ

= render 'header'  # 全体のヘッダーの部分テンプレートの呼び出し
.u-main
  - breadcrumb :user_profile_edit
  = render "layouts/breadcrumbs"
  .u-container
    .container-center
      = render 'user_sidebar'  # ユーザマイページのサイドバーの部分テンプレートの呼び出し
      .contents
        .profiles
          .profiles__profile
            プロフィール
          .profiles__icon
            = image_tag("https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "profiles__icon__figure")
            %input{type:"text", class: 'profiles__icon__form', placeholder: "例)AYA☆セール中", name: "nickname"}
          .profiles__content
            %textarea{class: "profiles__content__setting", placeholder: "例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
            %input{type: "hidden"}
            %button.profiles__content__button{type: "submit"} 
              変更する
              
= render 'banner'  # 全体のバナーの部分テンプレートの呼び出し

= render 'footer'  # 全体のフッターの部分テンプレートの呼び出し

= render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し


