// メルカリ>マイページ>メール/パスワードのhaml

= render 'header'  # 全体のヘッダーの部分テンプレートの呼び出し
.u-main
  - breadcrumb :user_mailpassword
  = render "layouts/breadcrumbs"
  .u-container
    .container-center
      = render 'user_sidebar' # ユーザマイページのヘッダーの部分テンプレートの呼び出し
      .contents
        .chapter-container
          .chapter-container__head
            メール/パスワード
          .chapter-container__form
            .chapter-container__form__content
              .chapter-container__form__content__box
                .chapter-container__form__content__box__titles
                  メールアドレス
                %input{type: "text", placeholder: "PC・携帯どちらでも可", class: "chapter-container__form__content__box__answers", value: current_user.email}
                .chapter-container__form__content__box__description
                  メールアドレスを変更すると確認メールが送信されます。メール内のURLをクリックすると変更完了です。
              .chapter-container__form__content__box
                .chapter-container__form__content__box__titles
                  現在のパスワード
                %input{type: "text", class: "chapter-container__form__content__box__answers"}
              .chapter-container__form__content__box
                .chapter-container__form__content__box__titles
                  新しいパスワード
                %input{type: "text", placeholder: "7文字以上の半角英数字", class: "chapter-container__form__content__box__answers"}
                .chapter-container__form__content__box__description
                  ※ 英字と数字の両方を含めて設定してください
              .chapter-container__form__content__box
                .chapter-container__form__content__box__titles
                  新しいパスワード確認 
                %input{type: "text", placeholder: "新しいパスワードを再入力", class: "chapter-container__form__content__box__answers"}
              %button.chapter-container__form__content__button{type: "submit"} 
                変更する

= render 'banner'  # 全体のバナーの部分テンプレートの呼び出し

= render 'footer'  # 全体のフッターの部分テンプレートの呼び出し

= render 'camera_icon'  # 右下に出るカメラアイコンの部分テンプレートの呼び出し

